{% extends "base.html" %}

{% block content %}
  <h1>
    Dish list <a href=" {% url 'kitchen:dish_create' %}">+</a>
  </h1>
  <form method="get" action="">
    {{ search_form }}
    <input type="submit" value="🔍">
  </form>
  {% if dish_list %}
    <ul>
      {% for dish in dish_list %}
        <li>
          <a href="{% url "kitchen:dish_detail" pk=dish.id %}">
            {{ dish.name }}
            -${{ dish.price }}
            {{ dish.dish_type.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no dishes in the kitchen.</p>
  {% endif %}
{% endblock %}