{% extends "base.html" %}

{% block content %}
  <h1>
    Dish Type list
    <a href="{% url "kitchen:dish_types_create" %}">+</a>
  </h1>
  <form method="get" action="">
    {{ search_form }}
    <input type="submit" value="🔍">
  </form>
  {% if dish_types %}
    <ul>
      {% for dish_type in dish_types %}
        <li>
          {{ dish_type.name }}
          <a href="{% url "kitchen:dish_types_update" pk=dish_type.id %}">Update</a>
          <a href="{% url "kitchen:dish_types_delete" pk=dish_type.id %}">Delete</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>The dish type list is empty.</p>
  {% endif %}
{% endblock %}
